@use "../variables" as *;
@use "../media" as *;

.footer {
  padding: 80px 0;
  background: $footer url("/img/figure.svg") no-repeat;
  background-position: bottom;
  background-size: 100%;

  @include laptop {
    background-position: bottom center;
    background-size: 1287px;
  }

  @include tablet {
    background-size: 965px;
  }

  @include mobile {
    background-size: 709px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @include tablet {
      gap: 40px;
    }
  }

  &__logo {
    width: 200px;
  }

  &__address {
    font-style: normal;
  }

  &__mail {
    display: inline-block;
    margin-bottom: 16px;
  }

  &__social-list {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 12px;
  }

  &__social-item {
  }

  &__social-link {
  }

  &__developers {
  }

  &__developers-title {
    margin-bottom: 3px;
  }

  &__developers-list {
  }

  &__developers-item {
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__developers-link {
  }

  &__copyright {
    text-transform: uppercase;
  }
}
