@use "../variables" as *;

.hero {
  padding: 60px 0;
  &__head-group {
    margin-bottom: 24px;
  }

  &__title {
    font-family: $second-family;
    font-size: clamp(
      80px,
      calc(80px + (40 * ((100vw - 1024px) / (1440 - 1024)))),
      120px
    );
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: $green;
  }

  &__subtitle {
    font-family: $second-family;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.3;
    text-align: right;
    color: $dark;
  }

  &__group-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 26px; // 24px
  }

  &__image {
    object-fit: contain;

    width: calc(284 / 1300 * 100%);
    &_left {
      border-radius: 400px 400px 400px 0;
    }

    &_center {
      width: calc(680 / 1300 * 100%);
    }

    &_right {
      border-radius: 400px 0 400px 400px;
    }
  }
}
